//define default variables; you can override these by adding them to _variables.scss
$boilerplate-background: purple !default;

.boilerplate-component {
	background: $boilerplate-background;
}

body {
	background: $boilerplate-background !important;
}